@font-face {
  font-family: Roboto-Thin;
  src: url(./res/fonts/Roboto-Thin.ttf)  format('truetype');
}

@font-face {
  font-family: Roboto-Light;
  src: url(./res/fonts/Roboto-Light.ttf)  format('truetype');
}

@font-face {
  font-family: Roboto-Medium;
  src: url(./res/fonts/Roboto-Medium.ttf)  format('truetype');
}


@font-face {
  font-family: Megrim;
  src: url(./res/fonts/Megrim/Megrim.ttf) format('truetype');
}

@font-face {
  font-family: Oswald-Light;
  src: url(./res/fonts/Oswald/Oswald-Light.ttf) format('truetype');
}

@font-face {
  font-family: Righteous;
  src: url(./res/fonts/Righteous/Righteous-Regular.tff) format('truetype');
}

